.errorMessage{
	font-family: "Meiryo";
	background-color:white;
	position:relative;
	top:100px;
}
.main-contents .retrieval{
	font-family: "Meiryo";
	position: fixed;
	background-color:#fafad2;
	padding: 20px;
	padding-top:30px;
	top:40px;
	width:100%;
	height:80px;
	float: right;
	margin-left:0px;
	border-bottom:1px solid black;
	z-index: 1;
	font-size: 20px;
}

.category{

	whith:50%;
	position:absolute; bottom:5px; left:525px;
	float: center;

}
.date{

	whith:50%;
	position:absolute; bottom:5px; left:50px;
	float: center;

}
.posts{
	background-color:white;
	top:100px;
	margin-top:10px;
	padding-top:10px;
	padding-left:10px;
	text-align:left;
	position:relative; left:25px;
	border-bottom:1px dotted black;
}
.posts .title{
	font-size: 30px;
	font-weight: bold;
	}
span{
	border-bottom: dotted 2px orange;
	top:0px;

}
.posts .name{
	font-size: 20px;
	position:relative; left:0px;
	top:10px;
}
.posts .text{
	position:relative; left:20px;
}
.posts .other{
	position:relative; left:20px;
}
.posts .submit{
	position:relative; left:20px;
}
.comment{
	background-color:white;
	top:100px;
	padding-top:20px;
	padding-left:10px;
	position:relative; left:25px;
	font-size: 20px;
}
.comment .text{
	left:0px;
	padding-left:100px;
	text-align:left;
	border-bottom: solid 1px ;
	font-size: 15px;
}
.newcomment form{
	background-color:white;
	top:50px;
	margin-top:50px;
	padding-top: 20px;
	padding-bottom:20px;
	padding-left:50px;
	text-align:left;
	position:relative; left:25px;
	border-bottom: solid 2px ;
}

