body{
	background-color:white;
}

.title{
	text-align: center;
	font-size: 30px;
	color: #4169e1;
	font-weight: bold;
}
.login_box{
    width: 400px;
    height: 200px;
	background-color:#ffffe0;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	color: #4169e1;
	border: solid 3px #4169e1;
    border-radius: 10px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.4);

}
.errorMessages{
	width: 400px;
	height: 35px;
}

.login{
	position:relative; bottom:0%; left:12.5%;

}
.login .button {
	position:relative; top:10px; left:-50px;
	px;




