.note{
	position:relative; left:650px; top:-0px;
	font-size: 18px;
	line-height: 300%;
}
.post-box{
	resize: none;
}
input #title #category{
	width: 240px;
}
.title{
	font-size: 30px;
	font-weight: bold;
}
.under{
	border-bottom: solid 2px ;
}
