.title{
	font-size: 30px;
	font-weight: bold;
}
.under{
	border-bottom: solid 2px ;
}
select{
	width:170px;
}
table{
	background-color:white;
	position:relative; top:10px;
}

.note1{
position:relative; left:310px; top:-197px;
font-size: 18px;
line-height: 170%;
}
.note2{
position:relative; left:310px; top:-137px;
font-size: 18px;
line-height: 170%;
}
#submit{
	position:relative; top: 20px;
}